@import './variable.scss';
* {margin: 0; padding: 0;}
body {font-family: $font; width: 100%;}
a { text-decoration: none; color: $primary; }
a:hover {text-decoration: none; color: $active;}

.investmentPage {
    .header {
        position: fixed;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        background-color: $secondary;
        .headerLeft {
            padding-left: 20px;
            line-height: 50px;
            .clustor {
                display: inline-block;
                margin-left: 20px;
            }
        }
        .headerRight {
            padding-right: 20px;
            line-height: 50px;
        }
    }
    .investorMain {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        .investorMainInner {
           margin: 0 0 15px;
           .investorBtn {
            margin-left: 15px;
           }
           .investorBtn:first-child {
            margin: 0;
           }
        }
        .investorBtn {
            background-color: $blue;
            color: $white;
            border: 0 none;
            height: 40px;
            width: 140px;
            border-radius: 10px;
    
            &:hover {
                background-color: $active;
            }
        }
    }
}

