$primary: #333;
$secondary: #ffca05;
$light: #e7e7e7;
$gray: #c3c3c3;
$danger: red;
$white: #fff;
$blue: #4a2098;
$green: #00ff00;
$active: #EF3584;
$font: 'Odibee Sans', cursive;
$font-size-xxl : 10vh